  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                  Adventure24 GmbH <br>
                  <a href="mailto:office@adventures24.at">  office@adventures24.at</a>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://www.ooe-adventures.at/de/kontakt_impressum/impressum">Impressum</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
