<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Usere einzelnen Websites.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <a href="https://www.ooe-adventures.at/"><img src="img/logos/ooe-adventures.png"></a>
                    </span>
                    <h4 class="service-heading">Oberösterreich Adventures</h4>
                    <p class="text-muted">Hier finden Sie exklusive Angebote für sämtliche Adventures in Oberösterreich.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <a href="https://www.salzburgadventures.com/"><img src="img/logos/salzburg-adventures.png"></a>
                    </span>
                    <h4 class="service-heading">Salzburg Adventures</h4>
                    <p class="text-muted">Hier finden Sie exklusive Angebote für sämtliche Adventures in Salzburg.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <a href="https://www.tiroladventures.com/"><img src="img/logos/tirol-adventures.png"></a>
                    </span>
                    <h4 class="service-heading">Tirol Adventures</h4>
                    <p class="text-muted">Hier finden Sie exklusive Angebote für sämtliche Adventures in Tirol.</p>
                </div>
            </div>
        </div>
    </section>
