<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Unsere Seiten</h2>
                    <h3 class="section-subheading text-muted">Hier finden Sie exklusive Angebote für sämtliche Adventures in ihrer Region.</h3>
                </div>
            </div>
            <div class="row text-center">
                 <div class="col-md-4">
                    <a href="https://www.ooe-adventures.at/"><img src="img/logos/ooe-adventures.jpg"></a>
                    <h4 class="service-heading">Oberösterreich Adventures</h4>
                 </div>
                 <div class="col-md-4">
                    <a href="https://www.steiermark-adventures.com/"><img src="img/logos/steiermark-adventures.jpg"></a>
                    <h4 class="service-heading">Steiermark Adventures</h4>
                 </div>
                 <br></br>
                 <div class="col-md-4">
                    <a href="https://www.wienadventures.com/"><img src="img/logos/wien-adventures.jpg"></a>
                    <h4 class="service-heading">Wien Adventures</h4>
                 </div>
                 <div class="col-md-4">
                    <a href="http://www.ballonadventures.com/"><img src="img/logos/ballon-adventures.jpg"></a>
                    <h4 class="service-heading">Ballon Adventures</h4>
                 </div>
            </div>
        </div>
    </section>
